

.navbar {
  width: 100%;
  height: 100px;
  background: transparent;
  position: absolute;
  z-index: 999;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  margin-right: 100px;
}

.links h2 {
  top: 16%;
  left: 3%;
  position: absolute;
  font-size: 28px;
  font-family: 'VT323', monospace;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-right: 70px;
  font-family: 'Lato', sans-serif;
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleButton svg {
  font-size: 50px;
}
.toggleButton button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

#open {
  height: 100vh;
  background-color: black;
}

#open .links {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}

#open a {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: large;
}

@media only screen and (max-width: 900px) {
  .navbar a {
    width: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .toggleButton {
    display: flex;
  }
  #close a {
    display: none;
  }
  .links h2 {
    display: none;
  }
  #open a {
    margin-left: 70px;
  }
 
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .links {
    flex-direction: row;
  }
}
